name: cicd-cezzis-mcp

on:
  pull_request:
    branches: [main]
    paths: [cocktails.mcp/**, terraform/**, .github/workflows/cezzis-mcp-cicd.yaml]
  push:
    branches: [main]
    paths: [cocktails.mcp/**, terraform/**, .github/workflows/cezzis-mcp-cicd.yaml]

  workflow_dispatch:

concurrency:
  group: cezzis-mcp-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  gitVersion:
    name: Git version
    permissions: 
      contents: read
    runs-on: ubuntu-latest
    outputs:
      semVer: ${{ steps.gitVersion.outputs.semVer }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0
      
      - name: Install GetVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: "5.x"

      - name: Use GitVersion
        id: gitVersion
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          useConfigFile: true

  build:
    name: Build app
    uses: mtnvencenzo/workflows/.github/workflows/go-build.yaml@main
    needs: [gitVersion]
    with:
      go_version: '1.25.1'
      go_mod_directory: './cocktails.mcp/src'
      go_main_directory: 'cmd'
      go_output_directory: 'dist/linux'
      setup_files: '["cocktails.mcp/Dockerfile-CI"]'
      go_executable_name: 'cezzis-cocktails'
      artifact_name: 'cocktails-mcp'
      version: "${{ needs.gitVersion.outputs.semVer }}+${{ github.sha }}"

  docker:
    name: Containerize app
    needs: [build]
    uses: mtnvencenzo/workflows/.github/workflows/docker-build-and-push.yaml@main
    with:
      working_directory: 'cocktails.mcp'
      allow_build_and_push: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref_name == 'main' }}
      artifact_name: 'cocktails-mcp'
      docker_file_name: 'Dockerfile-CI'
      image_tag: '${{ github.sha }}'
      acr_registry_login_server: 'acrveceusgloshared001.azurecr.io'
      acr_image_repository: 'cocktailsmcp'
    secrets:
      acr_registry_login_username: ${{ secrets.ACR_REGISTRY_USERNAME }}
      acr_registry_login_password: ${{ secrets.ACR_REGISTRY_PASSWORD }}


  terraform_deploy_prd:
    name: Terraform deploy prd
    uses: mtnvencenzo/workflows/.github/workflows/terraform-plan-and-apply.yaml@main
    needs: [docker, gitVersion]
    permissions:
      contents: read
      pull-requests: write
    with:
      working_directory: terraform
      environment_name: prd
      allow_deploy: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref_name == 'main' }}
      terraform_version: 1.11.4
      arm_client_id: ${{ vars.ARM_CLIENT_ID }}
      arm_subscription_id: ${{ vars.ARM_SUBSCRIPTION_ID }}
      arm_tenant_id: ${{ vars.ARM_TENANT_ID }}
      backend_resource_group_name: rg-vec-eus-administration-001
      backend_storage_account_name: stveceusterraformstat001
      backend_container_name: terraform-cocktails
      backend_blob_key: cocktails/prd-cocktails-mcp.tfstate
      command_line_args: '-var image_tag=${{ github.sha }}'
    secrets:
      arm_client_secret: ${{ secrets.ARM_CLIENT_SECRET }}
      terraform_module_repo_access_key_secret: ${{ secrets.TERRAFORM_MODULE_REPO_ACCESS_KEY_SECRET }}
    
  create_release_prd:
    name: Create release
    if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref_name == 'main' }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: [docker, gitVersion, terraform_deploy_prd]
    steps:
      - name: Create release
        uses: mtnvencenzo/workflows/.github/actions/create-release@main
        with:
          version: ${{ needs.gitVersion.outputs.semVer }}

  verify_prd:
    name: Verify prd
    if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref_name == 'main' }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: [docker, gitVersion, terraform_deploy_prd, create_release_prd]
    steps:
      - name: Verify version
        uses: mtnvencenzo/workflows/.github/actions/check-release-version@main
        with:
          expected_release_version: ${{ needs.gitVersion.outputs.semVer }}
          expected_tag: ${{ github.sha }}
          url: https://api.cezzis.com/prd/cocktails/mcp/v1/version
          property_name: version
          timeout_seconds: 180

      - name: Warmup api
        uses: mtnvencenzo/workflows/.github/actions/api-call@main
        with:
          enabled: true
          url: https://api.cezzis.com/prd/cocktails/mcp/v1/healthz
          statusCode: 200
          authHeader: X-Key
          method: GET
        env:
          AUTH_VALUE: ${{ secrets.PRD_DEVOPS_APIM_SUBSCRIPTION_KEY }}